<!-- Toolbar -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Permanent+Marker" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="show-mobile">
  <nav>
    <div class="toolbar" role="banner">
      <h1 title-tab>POLYGAMES</h1>
      <div class="spacer"></div>
      <span style="font-size:30px;cursor:pointer;margin-right:50px; margin-top: 3px" onclick="openNav()">
        <mat-icon>menu</mat-icon>
      </span>
    </div>
  </nav>
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" onclick="closeNav()"><mat-icon>close</mat-icon></a>
    <a href="#">MA LISTE</a>
    <a href="#">RECHERCHER UN JEU</a>
    <a href="#">MON COMPTE</a>
  </div>
</div>

<nav class="hide-mobile">
  <div class="toolbar" role="banner">
    <h1 title-tab>POLYGAMES</h1>
    <a style="text-decoration:none" aria-label="Ma liste" target="_blank" rel="noopener" href="https://twitter.com/angular" title="MA LISTE">
      <div id="myList-logo" class="menu">MA LISTE</div>
    </a>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <mat-icon id="search-logo">search</mat-icon>
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
      <mat-icon id="user-logo">supervised_user_circle</mat-icon>
    </a>
  </div>
</nav>
<div class="line"></div>
<div class="line2"></div>
