.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  background-color: #000000;
  color: white;
  font-weight: 600;
}

h1 {
  font-family: "Permanent Marker";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0 25px;
  letter-spacing: 3px;
  color: #0ECE00;
}

.menu {
  font-family: "Play";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 25px;
  margin-top: 4px;
  margin-left: 30px;
  letter-spacing: 3px;
  color: azure;
}

mat-icon {
  font-size: 50px;
  color: azure;
}

.toolbar #search-logo {
  height: 50px;
  margin-top: 5px;
  margin-right: 100px;
}

.toolbar #user-logo {
  height: 50px;
  margin-top: 5px;
  margin-right: 75px;
}

.toolbar #search-logo:hover,
.toolbar #user-logo:hover,
.toolbar #myList-logo:hover {
  opacity: 0.8;
}

.line {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  height: 1px;
  display: flex;
  align-items: center;
  background-color: #424242;
}
.line2 {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  height: 1px;
  display: flex;
  align-items: center;
  background-color: #333333;
}

.show-mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}

.sidenav {
  font-family: "Play";
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #292929;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  margin-top: 15px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: azure;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  opacity: 0.5;
}

.sidenav .closebtn {
  color: azure;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 1px;
  margin-right: 18px;
}
